<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet href="rss.xsl" type="text/xsl"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0"
    {{#itunes_author}}
     xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
    {{~/itunes_author}}
>
    <channel>
        {{#if title}}
            <title><![CDATA[{{{title}}}]]></title>
        {{else}}
            <title><![CDATA[IssueBlogAction]]></title>
        {{/if}}
        {{#if link}}
            <link>{{link}}</link>
        {{else}}
            <link>
            https://github.com/bxb100/issueblog</link>
        {{/if}}
        <atom:link href="{{atomLink}}" rel="self" type="application/rss+xml" />
        {{#if description}}
            <description><![CDATA[{{{description}}}]]></description>
        {{else}}
            <description><![CDATA[{{{title}}}]]></description>
        {{/if}}
        <generator>IssueBlogAction</generator>
        <webMaster>bxb100@outlook.com (@bxb100)</webMaster>
        {{#if itunes_author}}
            <itunes:author>{{itunes_author}}</itunes:author>{{/if}}
        {{#if itunes_category}}
            <itunes:category text="{{itunes_category}}" />{{/if}}
        {{#if itunes_author}}
            {{#if itunes_explicit}}
                <itunes:explicit>{{itunes_explicit}}</itunes:explicit>
            {{else}}
                <itunes:explicit>no</itunes:explicit>
            {{/if}}
        {{/if}}
        {{#if language}}
            <language>{{language}}</language>
        {{else}}
            <language>zh-cn</language>
        {{/if}}
        {{#if itunes_image}}
            <itunes:image href="{{itunes_image}}" />{{/if}}
        {{#if image}}
            <image>
                <url>{{image}}</url>
                {{#if title}}
                    <title><![CDATA[{{{title}}}]]></title>
                {{else}}
                    <title><![CDATA[GitHub Action]]></title>
                {{/if}}
                <link>{{link}}</link>
            </image>
        {{/if}}
        <lastBuildDate>{{lastBuildDate}}</lastBuildDate>
        {{#if ttl}}
            <ttl>{{ttl}}</ttl>
        {{/if}}

        {{#each items}}
            <item>
                <title><![CDATA[{{{title}}}]]></title>
                {{#if description}}
                    <description><![CDATA[{{{description}}}]]></description>
                {{else}}
                    <description><![CDATA[{{{title}}}]]></description>
                {{/if}}
                {{#if pubDate}}
                    <pubDate>{{pubDate}}</pubDate>{{/if}}
                {{#if guid}}
                    <guid isPermaLink="false">{{guid}}</guid>
                {{else}}
                    {{#if link}}
                        <guid isPermaLink="false">{{link}}</guid>
                    {{else}}
                        <guid isPermaLink="false">{{title}}</guid>
                    {{/if}}
                {{/if}}
                <link>{{link}}</link>
                {{#if itunes_item_image}}
                    <itunes:image href="{{itunes_item_image}}" />{{/if}}
                {{#if enclosure}}
                    {{#with enclosure}}
                        <enclosure url="{{url}}"
                            {{~#if length}} length="{{length}}" {{~/if}}
                            {{~#if type}} type="{{type}}" {{~/if}} />
                    {{/with}}
                {{/if}}
                {{#if ../itunes_author}}
                    {{#if itunes_duration}}
                        <itunes:duration>{{itunes_duration}}</itunes:duration>
                    {{/if}}
                {{/if}}
                {{#if author}}
                    <author><![CDATA[{{author}}]]></author>{{/if}}
                {{#if (typeof category 'string')}}
                    <category>{{category}}</category>
                {{else}}
                    {{#each category}}
                        <category>{{this}}</category>
                    {{/each}}
                {{/if}}
            </item>
        {{/each}}
    </channel>
</rss>
